@import '../../themes/style-constants';

.advantages {
  text-align: left;
  padding: $YAxisPadding 0;
  margin: 0 auto;
  width: $WrapperWidth;

  &__title {
    font-size: 32px;
    text-transform: uppercase;
    margin: 0;

    &--bottomPadded {
      padding-bottom: $YAxisHalfPadding;
    }
  }

  &__description {
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    padding-bottom: $YAxisPadding;
  }

  &__block {
    display: flex;
    justify-content: space-around;
  }
}
