@import '../../themes/style-constants';

.movies {
  padding: $YAxisPadding 0;
  width: $WrapperWidth;
  margin: auto;

  &__title {
    font-size: 32px;
    text-transform: uppercase;
    padding-bottom: $YAxisPadding;
    margin: 0;
  }

  &__container {
    display: grid;
    grid-gap: $YAxisPadding $XAxisPadding;
    grid-template-columns: auto auto auto auto;
  }
}
